@model IEnumerable<SalesWebMvc.Models.Department>

@*Declara que minha página vai usar uma coleção genérica gerada da classe Department*@

    @{
        ViewData["Title"] = "Departments";
    }

    <h2>Departments</h2>

    <p>

        @*asp-action é um tag helper
        ele cria automáticamente um link que aponta pra Action Create do meu controller DepartmentsController*@

        <a asp-action="Create">Create New</a>

        @*OBS.: inicialmente há apenas a action index no meu controlador, o link estará quebrado*@

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)  @*label da tabela usando lambda de model, tal q, model.Id*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*Model é a coleção declarada no início do arquivo e que veio do controlador na action*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id) @*aqui, iterando sobre a lista de objetos e mostrando seus valores*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) @*gera automatico a coluna com os links de editar*@
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) @*Detalhes*@
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) @*e excluir (que também estão quebrados nesse momento)*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
